services:
    web:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: habit
        command: sh -c "python manage.py collectstatic --no-input && python manage.py migrate && gunicorn config.wsgi:application --bind 0.0.0.0:8000"

        ports:
            - "8000:8000"
        env_file:
            - .env
        volumes:
            - .:/app
            - static_volume:/app/staticfiles
        depends_on:
            - db
            - redis
        networks:
            - app_network

    nginx:
        build:
            context: .
            dockerfile: Dockerfile.nginx
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./html:/usr/share/nginx/html
            - static_volume:/app/staticfiles
        ports:
            - "80:80"
        depends_on:
            - web
        networks:
            - app_network

    db:
        image: postgres:16
        container_name: postgres_db
        env_file:
            - .env
        ports:
          - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - app_network

    redis:
        image: redis:7
        container_name: redis
        ports:
            - "6379:6379"
        env_file:
            - .env
        volumes:
            - redis_data:/data
        networks:
            - app_network

    celery:
        build:
            context: .
        container_name: celery_worker
        command:
            celery -A config worker --loglevel=info
        env_file:
            - .env
        volumes:
            - .:/app
        depends_on:
            - db
            - redis
        networks:
            - app_network

    celery_beat:
        build:
            context: .
        container_name: celery_beat
        command:
            celery -A config beat --loglevel=info
        env_file:
            - .env
        volumes:
            - .:/app
        depends_on:
            - db
            - redis
            - celery
        networks:
            - app_network

networks:
    app_network:
        driver: bridge
volumes:
    postgres_data:
    redis_data:
    static_volume:

